@font-face {
  font-family: 'Gotham-Bold';
    src:    url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/Gotham-Bold.woff') format('woff'), 
            url('../fonts/Gotham-Bold.ttf')  format('truetype'), 
            url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
    src:    url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
            url('../fonts/Gotham-Light.woff') format('woff'), 
            url('../fonts/Gotham-Light.ttf')  format('truetype'), 
            url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src:    url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Gotham-Medium.woff') format('woff'), 
            url('../fonts/Gotham-Medium.ttf')  format('truetype'), 
            url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src:  url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Gotham-Book.woff') format('woff'), 
        url('../fonts/Gotham-Book.ttf')  format('truetype'), 
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

$dark: #242424;
$grey: #edebd4;
$site-width: 1500px;
$res-width-big: 1480px;
$res-width-medium: 1100px;

body, html{
    padding:0;
    margin:0;
}

body{
    background: #fff;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    font-family: 'Gotham-Book';
}

h1, h2, strong{
  font-family: 'Gotham-Bold';
}

.clear{
  clear: both;
}

.site-inner{
  width: $site-width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  @media screen and (max-width: $site-width){
    width: 100%;
  }
}

.btn{
  display: inline-block;
  padding: 10px 35px;
  font-family: 'Gotham-Bold';
  color: #242424;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #f8f8f8;
  transition: opacity 0.3s ease-out;
  border: 1px solid #f8f8f8;
  &:hover{
    color: #f8f8f8;
    text-decoration: none;
    background: #242424;
    border: 1px solid #f8f8f8;
  }
}

#pp-nav{
  display:none;
}

.site-header{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  z-index: 50;
  text-align: right;
  padding: 25px;
  box-sizing:border-box;
  @media screen and (max-width: $res-width-big){
    position:static;
    text-align: center;
  }
  #site-nav{
    padding:0;
    margin:0;
    li{
      display:inline-block;
      vertical-align: middle;
      margin:15px;
      a{
        display:block;
        width: 90px;
        height: 50px;
      }
    }
    #sw-btn{
      a{
        background:url(../images/switch.png) no-repeat center center;
        @media screen and (max-width: 650px){
          width: 65px;
          height: 30px;
          background-size: cover !important;
        }
      }
      &.active{
        a{
          background:url(../images/switch-actived.png) no-repeat center center;
        }
      }
    }
    #ps-btn{
      a{
        background:url(../images/ps4.png) no-repeat center center;
        @media screen and (max-width: 650px){
          width: 65px;
          height: 43px;
          background-size: cover !important;
        }
      }
      &.active{
        a{
          background:url(../images/ps4-actived.png) no-repeat center center;
        }
      }
    } 
    #xb-btn{
      a{
        background:url(../images/xbox.png) no-repeat center center;
        @media screen and (max-width: 650px){
          width: 65px;
          height: 43px;
          background-size: cover !important;
        }
      }
      &.active{
        a{
          background:url(../images/xbox-actived.png) no-repeat center center;
        }
      }
    }
    
  }
}

.site-footer{
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  z-index: 50;
  color: #fff;
  @media screen and (max-width: $res-width-big){
    position: static;
  }
  .footer-top{
    color: #BCBEC0;
    font-size: 10px;
    padding: 5px 0;
    p{
      margin: 0 0 5px;
    }
  }
  .footer-bottom{
    background: #231F20;
    .footer-inner{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 10px;
      box-sizing: border-box;
      .footer-text{
        color: #fff;
        font-size: 25px;
        line-height: 1.1;
        width: 40%;
        font-weight: bold;
        @media screen and (max-width: $res-width-big){
          width: 100%;
          margin: 0 0 15px;
        }
      }
      .footer-form{
        width: 50%;
        @media screen and (max-width: $res-width-big){
          width: 100%;
          margin: 0 0 15px;
        }
        input{
          color:#fff;
          padding: 15px;
          box-sizing: border-box;
          background:#393637;
          border:0;
          font-size: 18px;
          font-family: 'Gotham-Book';
          width: 33%;
          margin:5px 2px;
          &::placeholder{
            color: #fff;
            font-size: 18px;
            font-family: 'Gotham-Book';
          }
          @media screen and (max-width: 650px){
            width: 100%;
          }
        }
        input[type="submit"]{
          background: #fff;
          color: #000;
          width: 26%;
          @media screen and (max-width: 650px){
            width: 100%;
          }
        }
      }
      .footer-right{
        width: 10%;
        color: #fff;
        align-self: flex-end;
        font-weight:300;
        @media screen and (max-width: $res-width-big){
          width: 100%;
        }
        a{
          color:#fff;
          font-size: 14px;
          text-decoration: underline;
          font-family: 'Gotham-Light';
          margin: 0 0 7px;
          display: inline-block;
        }
      }
    }
  }
}

.section{
  background: #fff;
  @media screen and (max-width: $res-width-big){
    margin: 0 0 30px;
  }
  .section-inner{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .section-text{
      width: 55%;
      font-size: 20px;
      line-height: 1.1;
      
      .logo{
        margin: 0 0 30px;
        img{
          max-width: 80%;
        }
      }
      h3{
        margin: 0 0 30px;
        font-size: 48px;
      }
      h2{
        font-size: 55px;
        margin: 0 0 10px;
        color: #18A0DB;
      }
      h4{
        font-size: 30px;
        margin: 0 0 30px;
      }
      p{
        margin: 0 0 25px;
        &.small{
          font-size: 80%;
          width: 60%;
          margin: 0 0 45px;
        }
      }
      ul{
        padding:0 0 0 20px;
        margin: 50px 0;
        li{
          margin: 0 0 10px;
          font-size: 16px;
        }
      }
      @media screen and (max-width: $res-width-big){
        padding: 40px 0;
        margin: 0 0 25px;
        h2{
          font-size: 45px;
          margin: 0 0 10px;
        }
        h3{
          margin: 0 0 30px;
          font-size: 38px;
        }
      }
      @media screen and (max-width: 1000px){
        width: 100%;
        padding: 40px 0;
        margin: 0 0 25px;
        
      }
    }
    .section-img{
      width: 45%;
      @media screen and (max-width: $res-width-big){
        box-sizing: border-box;
        padding: 25px;
      }
      @media screen and (max-width: 1000px){
        width: 100%;
      }
      img{
        max-width: 100%;
      }
      p{
        font-size: 9px;
        sup{
          font-size: 7px;
          display: inline-block;
          vertical-align: 2px;
        }
      }
    }
  }
}

.device-list{
  padding:0 !important;
  margin:0;
  li{
    display:inline-block;
    vertical-align: middle;
    margin:15px;
    &:first-child{
      margin-left:0;
    }
    a{
      display:block;
      width: 90px;
      height: 50px;
    }
  }
  #sw-item{
    a{
      background:url(../images/switch.png) no-repeat center center;
    }
    &:hover{
      a{
        background:url(../images/switch-actived.png) no-repeat center center;
      }
    }
  }
  #ps-item{
    a{
      background:url(../images/ps4.png) no-repeat center center;
    }
    &:hover{
      a{
        background:url(../images/ps4-actived.png) no-repeat center center;
      }
    }
  } 
  #xb-item{
    a{
      background:url(../images/xbox.png) no-repeat center center;
    }
    &:hover{
      a{
        background:url(../images/xbox-actived.png) no-repeat center center;
      }
    }
  }
}

.cta{
  a{
    display:inline-block;
    padding: 15px 25px;
    font-size: 20px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    background: #18A0DB;
    color: #fff;
    i{
      font-size: 22px;
      margin: 0 10px 0 0;
    }
  }  
}

#p1{
  background: url(../images/home-bg.png) no-repeat center center #fff;
  background-size: cover;
  .section-text{
    align-self: center;
  }
  .section-inner .section-text h2{
    color: #000;
  }
}

#p2{
  background: url(../images/p2-bg.png) no-repeat center right #fff;
  .section-inner{
    .section-text{
      h2{
        color: #EC2227;
      }
    }
    .section-img{
      align-self: center;
      img{
        margin-bottom: 50px;
      }
    }
  }
  .cta{
    a{
     color:#fff;
     background: #EC2227;
    }  
  }
}

#p3{
  background: url(../images/p3-bg.png) no-repeat center right #fff;
}

#p4{
  background: url(../images/p4-bg.png) no-repeat center right #fff;
}

h2{
  font-size: 42px;
  margin: 0 0 10px;
}
h3{
  font-size: 38px;
  margin: 0 0 50px;
}

h4{
  font-size: 26px;
  margin: 0 0 50px;
}
