@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  padding: 0;
  margin: 0; }

body {
  background: #fff;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  font-family: 'Gotham-Book'; }

h1, h2, strong {
  font-family: 'Gotham-Bold'; }

.clear {
  clear: both; }

.site-inner {
  width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 1500px) {
    .site-inner {
      width: 100%; } }

.btn {
  display: inline-block;
  padding: 10px 35px;
  font-family: 'Gotham-Bold';
  color: #242424;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #f8f8f8;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  border: 1px solid #f8f8f8; }
  .btn:hover {
    color: #f8f8f8;
    text-decoration: none;
    background: #242424;
    border: 1px solid #f8f8f8; }

#pp-nav {
  display: none; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  text-align: right;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .site-header #site-nav {
    padding: 0;
    margin: 0; }
    .site-header #site-nav li {
      display: inline-block;
      vertical-align: middle;
      margin: 15px; }
      .site-header #site-nav li a {
        display: block;
        width: 90px;
        height: 50px; }
    .site-header #site-nav #sw-btn a {
      background: url(../images/switch.png) no-repeat center center; }
    .site-header #site-nav #sw-btn.active a {
      background: url(../images/switch-actived.png) no-repeat center center; }
    .site-header #site-nav #ps-btn a {
      background: url(../images/ps4.png) no-repeat center center; }
    .site-header #site-nav #ps-btn.active a {
      background: url(../images/ps4-actived.png) no-repeat center center; }
    .site-header #site-nav #xb-btn a {
      background: url(../images/xbox.png) no-repeat center center; }
    .site-header #site-nav #xb-btn.active a {
      background: url(../images/xbox-actived.png) no-repeat center center; }

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  color: #fff; }
  .site-footer .footer-top {
    color: #BCBEC0;
    font-size: 10px;
    padding: 5px 0; }
    .site-footer .footer-top p {
      margin: 0 0 5px; }
  .site-footer .footer-bottom {
    background: #231F20; }
    .site-footer .footer-bottom .footer-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 15px 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .site-footer .footer-bottom .footer-inner .footer-text {
        color: #fff;
        font-size: 25px;
        line-height: 1.1;
        width: 40%;
        font-weight: bold; }
      .site-footer .footer-bottom .footer-inner .footer-form {
        width: 50%; }
        .site-footer .footer-bottom .footer-inner .footer-form input {
          color: #fff;
          padding: 15px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          background: #393637;
          border: 0;
          font-size: 18px;
          font-family: 'Gotham-Book';
          width: 33%;
          margin: 5px 2px; }
          .site-footer .footer-bottom .footer-inner .footer-form input::-webkit-input-placeholder {
            color: #fff;
            font-size: 18px;
            font-family: 'Gotham-Book'; }
          .site-footer .footer-bottom .footer-inner .footer-form input:-ms-input-placeholder {
            color: #fff;
            font-size: 18px;
            font-family: 'Gotham-Book'; }
          .site-footer .footer-bottom .footer-inner .footer-form input::-ms-input-placeholder {
            color: #fff;
            font-size: 18px;
            font-family: 'Gotham-Book'; }
          .site-footer .footer-bottom .footer-inner .footer-form input::placeholder {
            color: #fff;
            font-size: 18px;
            font-family: 'Gotham-Book'; }
        .site-footer .footer-bottom .footer-inner .footer-form input[type="submit"] {
          background: #fff;
          color: #000;
          width: 26%; }
      .site-footer .footer-bottom .footer-inner .footer-right {
        width: 10%;
        color: #fff;
        -ms-flex-item-align: end;
            align-self: flex-end;
        font-weight: 300; }
        .site-footer .footer-bottom .footer-inner .footer-right a {
          color: #fff;
          font-size: 14px;
          text-decoration: underline;
          font-family: 'Gotham-Light';
          margin: 0 0 7px;
          display: inline-block; }

.section {
  background: #fff; }
  .section .section-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .section .section-inner .section-text {
      width: 50%;
      font-size: 20px;
      line-height: 1.1; }
      .section .section-inner .section-text .logo {
        margin: 0 0 30px; }
      .section .section-inner .section-text h3 {
        margin: 0 0 30px;
        font-size: 48px; }
      .section .section-inner .section-text h2 {
        font-size: 55px;
        margin: 0 0 10px; }
      .section .section-inner .section-text h4 {
        font-size: 30px;
        margin: 0 0 30px; }
      .section .section-inner .section-text p {
        margin: 0 0 25px; }
        .section .section-inner .section-text p.small {
          font-size: 80%;
          width: 60%;
          margin: 0 0 45px; }
      .section .section-inner .section-text ul {
        padding: 0 0 0 20px;
        margin: 50px 0; }
        .section .section-inner .section-text ul li {
          margin: 0 0 10px;
          font-size: 16px; }
    .section .section-inner .section-img {
      width: 50%; }
      .section .section-inner .section-img img {
        max-width: 100%; }
      .section .section-inner .section-img p {
        font-size: 9px; }
        .section .section-inner .section-img p sup {
          font-size: 7px;
          display: inline-block;
          vertical-align: 2px; }

.device-list {
  padding: 0;
  margin: 0; }
  .device-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 15px; }
    .device-list li:first-child {
      margin-left: 0; }
    .device-list li a {
      display: block;
      width: 90px;
      height: 50px; }
  .device-list #sw-item a {
    background: url(../images/switch.png) no-repeat center center; }
  .device-list #sw-item:hover a {
    background: url(../images/switch-actived.png) no-repeat center center; }
  .device-list #ps-item a {
    background: url(../images/ps4.png) no-repeat center center; }
  .device-list #ps-item:hover a {
    background: url(../images/ps4-actived.png) no-repeat center center; }
  .device-list #xb-item a {
    background: url(../images/xbox.png) no-repeat center center; }
  .device-list #xb-item:hover a {
    background: url(../images/xbox-actived.png) no-repeat center center; }

.cta a {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  background: #18A0DB;
  color: #fff; }
  .cta a i {
    font-size: 22px;
    margin: 0 10px 0 0; }

#p1 {
  background: url(../images/home-bg.png) no-repeat center center #fff;
  background-size: cover; }
  #p1 .section-text {
    -ms-flex-item-align: center;
        align-self: center; }

#p2 {
  background: url(../images/p2-bg.png) no-repeat center right #fff; }
  #p2 .section-inner .section-text h2 {
    color: #EC2227; }
  #p2 .cta a {
    color: #fff;
    background: #EC2227; }

#p3 {
  background: url(../images/p3-bg.png) no-repeat center right #fff; }

#p4 {
  background: url(../images/p4-bg.png) no-repeat center right #fff; }

h2 {
  font-size: 42px;
  margin: 0 0 10px; }

h3 {
  font-size: 38px;
  margin: 0 0 50px; }

h4 {
  font-size: 26px;
  margin: 0 0 50px; }
